html,
body {
  font: 100%/1.4em 'Helvetica Neue', Helvetica, Arial, sans-serif;
  margin: 0 auto;
  color: #222;
  -webkit-text-size-adjust: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f3f3f3;
}

body,
.panel {
  background-color: #f3f3f3;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.panel-content {
  background: lightpink;
  display: flex;
  flex: 1;
}

/**
 * Boxes
 */
// .box {
//   // border: 1px solid #4b5;
//   border-radius: 4px;
//   text-align: left;
//   margin: 50px 10px;
//   position: relative; 
// }

// .box-title {
//   margin: 0;
//   padding:10px 20px;
//   border-bottom: 1px solid #4b5;
//   color: #4b5;
//   font-size: 1.2em;
//   font-weight: 400;
// }

// .box-content {
//   padding:20px;
//   background-color: #f8f8f8;
// }

/**
 * Large Screens
 */
@media all and (min-width: 54em) {
  .box {
    width: 70%;
    max-width: 1200px;
    margin: 50px auto;
  }
}
