$color: white;
$section1-color: blue;
$section2-color: pink;

body {
  background-color : $color;
}

.section1 {
    color: $section1-color;
    font-size: 30px
}

.section2 {
    font-size: 100px;
    color: aqua;
}